Package: kos32-gcc
Version: 0.1.1
Architecture: all
Section: devel
Depends: libc6-i386:amd64, libmpc3:amd64
Pre-Depends: p7zip, wget
Recommends: fasm
Priority: optional
Origin: https://github.com/Egor00f/kolibrios-gcc-toolchain
Maintainer: Egor00f <velikiydolbayeb@gmail.com>
Installed-Size: 131708
Description: KolibriOS gcc toolchain installer
 This package installing KolibriOS gcc toolchain.